<html>
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<script type="text/javascript" src="/js/jquery-1.7.min.js"></script> 
<script type="text/javascript" src="/js/ajaxfileupload.js"></script> 
<script type="text/javascript" src="/js/addFile.js"></script> 
<script type="text/javascript">


</script>
</head>
<body>

	   <div class="msg">
	     <div class="m_text">
		 
		 <input type="file" id="onFile" onchange="uploadExcel('onFile')" name="file" />
		 <input type="text" id="_fileName" />
		 
		 </div>
	   </div>
	  
 	   
     <div class="bdiv" id="jindu" style="width:230px;"> 
     </div>
	    <div class="bdiv" id="showFile" style="width:600px;"> 
          
	   </div>
</body>
</html>